
  body {
    
    background: linear-gradient(to right, rgb(72, 5, 81),rgb(117, 4, 145),rgb(149, 26, 165),rgb(192, 60, 199),rgb(117, 4, 145),rgb(72, 5, 81));
}




 h1, h2, table {
    text-align: center;
    margin: auto;
    color: rgb(10, 246, 246);
    
    
}
td:hover{
    font-weight: bold;
    color: rgb(10, 245, 246);
    }
    
 


h1{
    
    font-size: 350%;
    padding: 50px 10px 40px 10px;
    
}

h2{
    font-size: 275%;    
    padding: 10px 5px 20px 5px;
    
        animation:blinker 3.3s linear infinite;   

}

@keyframes blinker{
    50%   
     {opacity: 0;}
     }

table{
    border: 10px solid rgb(12, 10, 12);
    width: 700px;
    height: 500px;
background-color: rgb(191, 27, 206);

}




th{
    font-weight: bold;
    font-size: 200%;
    border: 5px solid black;
    background-color: black;

}
td{
    border: 3px solid black;
    font-size: 150%;
    color: white;
    
}
th, td{
    width: 200px;
}

.images{
    width: 75%;
padding: auto;
    
}

.bl{
 width: 45%;
}

#mi{
    width: 55%;
}
